*{ margin: 0;
padding: 0; }
.navbar-default {
    background-color: #57cd9a;
    border-color: #57cd9a;
}
.navbar {
    min-height: 75px;
    color: #ffffff !important;
    border-radius: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.navbar-default .navbar-nav>li>a {
    color: #ffffff;
    min-height: 75px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 16px;
}
.navbar-brand {
    height: 75px;
    padding: 5px 10px;
    color: #ffffff !important;
}
.navbar-toggle{
    padding: 10px 10px;
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 20px;
}
.bg-view{
    /*background-image: url("../img/view.png");
    background-size: contain;
    background-repeat: no-repeat;*/
    min-height: 70vh;
    background-color: #66f291;
    padding-top: 20vh;
    color: #ffffff;
    font-weight: bolder;
}

.bg-view h1{
    font-size: 72px;
    font-weight: bold;
}

.bg-view h2{
    font-size: 48px;
    font-weight: bold;
    color: #c4ffd6;
}


.top{
    margin-top: -50px;
}
.about{
    min-height: 60vh;
    margin-bottom: 30px;
    padding-top: 5vh;
}
.about > h2{
    color: #57cd9a;
    margin-top: 10vh;
    font-weight: bolder;
}

.about > div > p{
    font-size: 16px;
}

.btnseemore{
    width: 100px;
    background-color: #57cd9a;
    height: 40px;
    color: white;
    line-height: 40px;
    border-radius: 20px;
    margin-top: 5vh;
}
a, a:hover, a:focus{
    text-decoration: none;
    color: white;
}

.p2{
    display: none;
}


.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, 
.embed-responsive object, .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    border: 0;
}

.embed-responsive-4by3 {
    padding-bottom: 28%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    cursor: pointer;
}

.partner{
    background-color: #fafafa;
    min-height: 90vh;
}
.partner > div > h2{
    color: #57cd9a;
    margin-top: 15vh;
    text-align: center;
    font-weight: bolder;
}

.partner > div > .btnseemore{
    margin-top: 70px;
    margin-bottom: 70px;
    width: 150px;
}

.row > div{
    margin-top: 2vh;
}
.contact{
    min-height: 30vh;
    background-color: #66f291;
    padding-bottom: 20px;
}
.contact > div > div > h2{
    color: white;
    font-weight: bolder;
    margin-top: 8vh;
}
.contact > div > div >div > h5 {
    color: #ffffff;
    font-size: 18px;
}

.brush{
    margin-bottom: -50px;
    width: 100%;
}

.brushAtas{
    width: 100%;
}

.support{
    color: #fff !important;
}

.restaurant {
    min-height: 70vh;
    padding-top: 10vh;
    background-color: #fafafa;
}
.restolist > div{
    margin-top: 10vh;
}
.restolist > div > div {
    margin-top: 10vh;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    background-color: white;
}
.restolist > div > div > img {
    margin-top: -10vh;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-bottom: 5vh;
    border-radius: 5px;
}
.restolist > div > div > .btnseemore{
    width: 100px;
    background-color: transparent;
    border: 2px solid #57cd9a;
    height: 40px;
    color: #57cd9a;
    line-height: 40px;
    border-radius: 20px;
    margin-bottom: 5vh;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.detailresto{
    background-color: #57cd9a;
    background-size: 100%;
    min-height: 50vh;
    background-repeat: no-repeat;
    padding-top: 15vh;
    color: #ffffff;
    font-weight: bolder;
}
.space {
    margin-top: 10vh;
}
.btntime{
    width: 120px;
    background-color: #19d1e9;
    height: 50px;
    color: white;
    line-height: 50px;
    border-radius: 10px;
    margin-top: 5vh;
    float: left;
    margin-left: 3vw;
    font-size: 20px;
}


.btn-successku {
    color: #fff;
    background-color: #4ab185;
    border-color: #28a745;
}

.isi{
    margin-top: 50px;
}

input[type="number"]{
    width: 150px;
    margin-bottom: 5vh;
}

/* ---------------------------- */
.menu{
    border: 2px solid #19d1e9;
    border-radius: 10px;
    padding-bottom: 10px;
    height: 370px;
    background-color: white;
}

.buttonGrup{
    width: 60%;
    margin: 0 auto;
}

.btn-danger1, .btn-success1, .btn-success1:hover, .btn-danger1:hover, .btn-success1:focus, .btn-danger1:focus{
    background-color: #22a4b5;
    border-color: #22a4b5;
    color: white;
}

.btn-danger2, .btn-success2, .btn-success2:hover, .btn-danger2:hover, .btn-success2:focus, .btn-danger2:focus{
    background-color: #22a4b5;
    border-color: #22a4b5;
    color: white;
    width: 100px;
    height: auto;
    margin-top: 50px;

}

.foodlist, .detailcat, .bgstep{
    background-color: #fafafa;
}

.detailcat{
    margin-top: -2vh;
}

@media only screen and (max-width: 768px) {
.datadiri {
    color: #ffffff;
    font-size: 18px;
    margin-top: 2vh;
    line-height: 5vh;
}
.embed-responsive-4by3 {
    margin-top: 30px;
    padding-bottom: 60%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.brush{
    margin-bottom: -30px;
    width: 100%;
}


.contact > div > div > div > h5 {
    color: #ffffff;
    font-size: 14px;
}

.support{
    float: left !important;
    color: white !important;   
}

.bg-view{
    min-height: 50vh;
}
.bg-view h1, .bg-view h2{
    font-weight: bold;
    font-size: 18pt;
}

.bg-view h1{
    font-size: 25pt;
}
.top{
    margin-top: -20px;
}

}



/* BATAS */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      opacity: 0;
      margin: 0; 
}
a > i.fa-trash, a:hover > i, a:focus > i{
    text-decoration: none;
    color: black;
}
.info-number > .badge {
    font-size: 10px;
    font-weight: normal;
    line-height: 13px;
    padding: 2px 6px;
    position: absolute;
    right: 2px;
    top: 15px
}
.navbar-default .navbar-nav>li>.info-number{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.input-group-cart{
    width: 55%;
    margin: 0 auto !important;
    text-align: center;
}
.cart{
    padding-top: 15vh;
    min-height: 70vh;
}

.table tbody .table tr td{
    border: none;
    float: left;
}

.table-bordered1>tbody>tr>td, .table-bordered1>tbody>tr>th, .table-bordered1>tfoot>tr>td, .table-bordered1>tfoot>tr>th, 
.table-bordered1>thead>tr>td, .table-bordered1>thead>tr>th {
    border: none;
}

.table-bordered1>thead{
    border-bottom: 2px solid #c3c3c3;
}

.form-control{
    border-radius: 0;
}

.wrapper{
    box-shadow: 2px 2px 3px 0 rgba(117, 124, 129, 0.12);
    background-color: white;
}

.payment{
    min-height: 55vh;
    padding-top: 15vh;
}

.row > .formPembayaran, .row > .isiForm, .row > .isiForm1 {
    margin-top: 0 !important;
}

.formPembayaran, .formPembayaran h4{
    background-color: #fff;
    margin: 0;
    padding: 10px;
    text-align: center;
    color: black;
}

.formPembayaran:first-child{
    border-right: 1px solid #57cd9a;
}

.active{
    background-color: #67d5a5 !important;
    color: white !important;
}

.isiForm, .isiForm1{
    background-color: #fff;
    border-top: 2px solid #57cd9a;
    box-shadow: 2px 2px 3px 0 rgba(117, 124, 129, 0.12);
    padding: 10px;
}

.isiForm1{
    display: none;
}

.dropdown, .dropup {
    position: relative;
    background-color: #fff;
}

.btn-primary1{
    background-color: #fff;
    border-color: #69d284;
}

.formAtm{
    margin-top: 20px;
    padding: 5px;
    background-color: #fff;
    border : 2px solid #69d284;
    font-size: 24px;
    height: auto;
    text-align: center;
    width: 100%;
}

#bcaTampil, #mandiriTampil, #bniTampil{
    display: none;
}

.dropdown-menuatm {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}

.form-gajelas{
    background: transparent;
}

.formProses{
    margin-top: 20px;
    padding: 5px;
    background-color: #57cd9a;
    border: #57cd9a;
    height: auto;
    text-align: center;
    display: none;
}